<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>

<body>
    <div>
        <%= message %>
    </div>
    <a href="<%= backurl %>" id="back" style="display: none;"></a>
    <script src="js/jquery.min.js"></script>
    <script>
        var timer = setTimeout(function () {
            var a = $('#back')[0]
            a.click();
            clearTimeout(timer)
        }, 2000)
    </script>
</body>

</html>