*{
    margin:0;
    padding: 0;
}
div{
    background: #ddd;
}
img{
    width:100px;
    height: 100px;
}
a{
    margin: 0 10px;
    text-decoration: none;
    color:#000;
}
a:hover{
    background: red;
    color:#fff;
}